{% extends 'base.html' %}
{% block title %} Users {% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <div>
        <p>{{ post.content }}</p>
    </div>

    <div>
        <p class="fst-italic">By {{ post.user.full_name }} on {{ post.friendly_date }}</p>
    </div>
    <div>
        <form>
            <button class="btn btn-outline-primary" formaction="/users/{{ post.user_id }}">Cancel</button>
            <button class="btn btn-primary" formaction="/posts/{{ post.id }}/edit" formmethod="GET">Edit</button>
            <button class="btn btn-danger" formaction="/posts/{{ post.id }}/delete" formmethod="POST">Delete</button>
        </form>
    </div>

{% endblock %}